.login-container {
  height: 100vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://images.unsplash.com/photo-1521737604893-d14cc237f11d");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: rgba(255, 255, 255, 0.95);
  padding: 40px;
  width: 350px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.login-box h2 {
  margin-bottom: 25px;
  color: #333;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.login-box button {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.login-box button:hover {
  background: #1d4ed8;
}

.footer-text {
  margin-top: 15px;
  font-size: 13px;
  color: #666;
}
